.loginContainer{
    margin-top:20px;
}

.login {
    padding: 10px 20px;
    text-align: center;
    display: inline;
    color: #eaeaea;
    font: italic bold 53px Georgia, Serif;
    text-shadow: -3px 3px 0 #480001, -2px 1px 0 #0a0e27;
    letter-spacing: 4px;
}
.b-dotted{
    border: 3px dotted 
}
.white{
    color:white;
}
.w-250{
    width: 250px;
}
.mx-auto{
    margin: auto;
}
.margin-top-20{
    margin-top: 20px;
}
input{
    border:none;
   margin:5px
}

.p-y-10{
    padding:20px 0px;
}